<%- include("partials/header"); -%>

<% resultData.results.forEach(function(result) { %>

    <form action="/npiSearch" method="post">
        <input type="hidden" name="npi" value="<%= result.number %>">
        <button type="submit"><%= result.number %></button>
    </form>

    <!-- <p><a href="https://npiregistry.cms.hhs.gov/provider-view/<%= result.number %>"><%= result.number %></a></p> -->

    <p><%= result.basic.first_name %> <%= result.basic.last_name %></p>

    <p><%= result.enumeration_type %></p>

    <p><%= result.addresses[0].address_1 %>, <%= result.addresses[0].city %>,  <%= result.addresses[0].state %>, <%= result.addresses[0].postal_code %></p>

    <p><%= result.addresses[0].telephone_number %></p>

    <p><%= result.taxonomies[0].desc.split(",", 1) %></p>


<% }) %> 



<%- include("partials/footer"); -%>